
@model List<MyPortfolyo.DAL.Entities.Skill>

<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojileri</h3>

    <ul class="skill-bars">

        @foreach (var item in Model)
        {
            <div class="skill-bar">
                <div class="skill-name">@item.Title</div>
                <div class="skill-bar-container">
                    <div class="skill-bar-fill" style="width: @item.Value%;"></div>
                </div>
                <div class="skill-value">@item.Value%</div>
            </div>
        }

    </ul>

</div>


<style>
    .skill-bars {
        padding: 15px;
    }

    .skill-bar {
        margin-bottom: 10px;
    }

    .skill-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .skill-bar-container {
        background-color: #f4f4f4;
        border-radius: 5px;
        height: 10px;
        position: relative;
    }

    .skill-bar-fill {
        background-color: black; /* Bar rengi */
        height: 100%;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.5s ease;
    }

    .skill-value {
        text-align: right;
        margin-top: 5px;
    }
</style>

