@model About
@{
    ViewData["Title"] = "AboutDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}



<input type="hidden" asp-for="AboutId" />
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title"> Hakkımda Sayfasının Detaylı Görünümü </div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							<b>Başlık :</b> @Model.Title <br />
							<b>Açıklama: </b>@Model.SubDescription <br />
						
							<br />
							<b>Detay: </b><b></b> @Model.Details
						</div>

					</div>
					<a href="/About/about/" class="la la-arrow-left"></a>

				</div>

			</div>

		</div>
	</div>
</div>
<style>
	.la {
		font-size: 35px;
		text-decoration: none;
	}

	.a {
		text-decoration: none;
	}

</style>