<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Tülay Çetin
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Skill/Index/">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item" active>
				<a href="/About/about/">
					<i class="la la-table"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList/">
					<i class="la la-apple"></i>
					<p> İş Deneyimlerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox/">
					<i class="la la-envelope-o"></i>
					<p>Mesajlarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index/">
					<i class="la la-bell"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			
			<li class="nav-item ">
				<a href="/Projeler/Index/">
					<i class="la la-font"></i>
					<p>Projelerim</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-fonticons"></i>
					<p>Referanslarim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-bell"></i>
					<p>İletişim Bilgilerim</p>
				</a>
			</li>
		
			
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-fonticons"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
	
		</ul>
	</div>
</div>

